*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
background-image: url(https://i.postimg.cc/CLn2rS8K/wp9553630.jpg);
background-repeat: no-repeat;
background-size: cover;

background:linear-gradient(#ffe);
}
.navbar{
    justify-items: flex-start;
font-size: 19px;
    height: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-right: 0;
}
.navbar a:hover{
    background: pink;
    transition: 0.4ms;
    border-right: 2px;


}
/*home*/
h1{
    font-size: 60px;
    text-decoration: underline;
    text-shadow: 24%;
}
.img-fluid{
    height: 300px
}
.item1,.item2{
    font-style: oblique;
    font-size:60px

}
/*about*/
.about{
    border: 1px solid;
    background-color: aqua;
    padding: 10px;
    border-radius: 10% 0 10% 0;
}
/*education*/
h2{
    font-size: 40px;
    text-decoration: underline

}
.education{
    font-size: 24px;
    padding-left: 10px;
    background-color: aqua;
    border-radius: 5% 5% 10% 10%;
    font-weight: bold

}
li{
    list-style: none
}
/*skills*/

.card-grid{
    display: flex;
    gap: 2px;
}
.card{
    box-shadow: chartreuse;
    background: whitesmoke;
height: 400px;
width: 300px;
width: 250px;
}
.card-header{
    display: flex;
}
.boot-img{
    width: 50px;
    height: 50px;
}
.boot-img img{
    width: 100%;
    height: 100%;
}
/*projects*/
.card .img-fluid{
width: 200px;
height: 180px;
}
button{
    margin: 4px;
    padding: 4px;
    background-color: black;
    color: #ffe;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100&display=swap');